/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

img {
  height: 300px;
  width: auto;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  float: left;
  margin: 2rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
