/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

h1{
  font-size: 3rem;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
}

body{
  background: rgb(255,146,220);
  background: radial-gradient(circle, rgba(255,146,220,1) 0%, rgba(148,233,232,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  width: auto;
  border-radius: 5%;
  max-width: 90vw;
  max-height: 60vh;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


#refresh {
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  color: #3c4043;
  cursor: pointer;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  padding: 2px 24px;
  
  display: block;
}
.hidden{
  height: 0;
  opacity: 0;
}

* {
  transition: all 0.5s ease;
}

